:root {
  --title-color: #212121;
  --first-btn-color: #FFFFFF;
  --second-btn-color: #212121;
  --accent-color: #2196F3;
  --logo-web-color: #2196F3;
  --logo-studio-color: #000000;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
ul, ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #757575;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.logo {
  font-family: 'Raleway',sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -----header----- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-web {
    color: var(--logo-web-color);
}
.logo-studio {  
  color: var(--logo-studio-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
   color: #212121;
}
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
  .header-tel:hover,
  .header-tel:focus {
    color: var(--accent-color);
  }
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
  .header-mail:hover,
  .header-mail:focus {
    color: var(--accent-color);
  }

  /* -----hero----- */
.hero {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 696px;
  margin: 0 auto 30px auto;  
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--first-btn-color);
  background-color: #2196F3;
  display: block;
  padding: 10px 32px;
  margin: 0 auto;
  
}
}
  .hero-btn:hover,
  .hero-btn:focus {
  background-color: #188CE8;
  cursor: pointer;
  }
  

/* -----advantage----- */

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantage-item {
  border: 1px solid black;
}
.advantage-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}

/* -----about----- */
.about-title {
  text-align: center;
  margin-bottom: 50px;
}
.about {
  padding-bottom: 94px;
}

/* -----our team----- */
.team {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}
.tea-title {
  margin-bottom: 50px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

/* -----footer----- */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-studio {
  color: #FFFFFF;
}
.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* -----projects----- */
.projects-filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62; 
  letter-spacing: 0.03em;
  color: var(--second-btn-color);
  background-color: #F5F4FA;
  cursor: pointer;
  border:none;
}
.projects-filters-btn:hover,
.projects-filters-btn:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.projects-works-title {
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  }
